# Dependencies
node_modules/

# Next.js
.next/
out/

# Build
dist/
build/

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Temp / scratch
.git.tsx
untitled.tsx
